@tailwind base;
@tailwind components;
@tailwind utilities;

.h-eruda-tab {
  height: calc(28px + 0.5rem) !important;
}

.eruda-dev-tools.opened {
  @apply m-1 border-0 border-gray-300 dark:border-gray-700 rounded !important;
  width: calc(100% - 0.5rem) !important;
}
.eruda-dev-tools.opened-50 {
  height: calc(50% - 0.5rem) !important;
}
.eruda-dev-tools.opened-100 {
  height: calc(100% - 0.5rem) !important;
}
.eruda-dev-tools.closed {
  @apply m-1 border-0 border-gray-300 rounded !important;
  width: calc(100% - 0.5rem) !important;
}

.eruda-tab {
  @apply rounded-t;
}

.eruda-tools {
  @apply rounded-b;
}

.eruda-logs-container {
  @apply bg-gray-100 dark:bg-gray-900 !important;
}

/* Floating button */
.eruda-entry-btn {
  @apply hidden !important;
}

/* Misc */
.eruda-resizer {
  @apply hidden !important;
}

.luna-tab-slider {
  background: #6366F1 !important;
}

.eruda-console-container .eruda-js-input .eruda-icon-arrow-right {
  color: #818cf8 !important;
}

.eruda-console .eruda-js-input .eruda-icon-arrow-right {
  color: #818cf8 !important;
}

#eruda-flowchart {
  overflow: auto;
}

.eruda-tab {
  height: 28px;
}
.luna-tab-tabs-container {
  height: 28px !important;
}
.luna-tab-item {
  height: 27px !important;
  line-height: 27px !important;
  font-size: 0.875rem;
}

/* Quitar la barra de arriba y abajo (limpiar consola, filtrar tipos de logs, ejecutar código) */

.eruda-control {
  display: none;
  height: 0
}

#eruda-console {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.eruda-js-input {
  display: none !important;
  height: 0 !important;
}
