@tailwind base;
@tailwind components;
@tailwind utilities;

.h-eruda-tab {
  height: 27px !important;
}

.eruda-logs-container {
  @apply bg-gray-50 dark:bg-gray-900 !important;
}

/* Floating button */
.eruda-entry-btn {
  @apply hidden !important;
}

/* Misc */
.eruda-resizer {
  @apply hidden !important;
}

.luna-tab-slider {
  background: #6366F1 !important;
}

.eruda-console-container .eruda-js-input .eruda-icon-arrow-right {
  color: #818cf8 !important;
}

.eruda-console .eruda-js-input .eruda-icon-arrow-right {
  color: #818cf8 !important;
}

/** EsJS2Flowchart */
#eruda-flowchart {
  overflow: auto;
}

.eruda-dev-tools {
  @apply border-0 !important;
}

.eruda-tab {
  height: 28px;
  @apply bg-gray-50 dark:bg-gray-900 !important;
}
.luna-tab-tabs-container {
  height: 28px !important;
  @apply border-0 !important;
}
.luna-tab-item {
  height: 27px !important;
  line-height: 27px !important;
  font-size: 0.875rem;
}

/* Quitar la barra de arriba y abajo (limpiar consola, filtrar tipos de logs, ejecutar código) */

.eruda-control {
  display: none;
  height: 0
}

#eruda-console {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.eruda-js-input {
  display: none !important;
  height: 0 !important;
}
