@tailwind base;
@tailwind components;
@tailwind utilities;

/* Floating Vue */

.dark .v-popper--theme-menu .v-popper__inner {
    background-color: #1a202c !important;
    border-color: #2d3748 !important;
    color: #fff !important;
}

.dark .v-popper--theme-menu .v-popper__arrow-outer {
    /*@apply border-gray-800*/
    border-color: #2d3748 !important;
}

.dark .v-popper--theme-menu .v-popper__arrow-inner {
    /*@apply border-gray-800*/
    border-color: #2d3748 !important;
}
