@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vp-c-brand: #673AB7;
    --vp-c-brand-light: #7E57C2;
    --vp-c-brand-lighter: #9575CD;
    --vp-c-brand-dark: #5E35B1;
    --vp-c-brand-darker: #512DA8;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
            120deg,
            #9C27B0 5%,
            #651FFF
    );
}

:root.dark {
    --vp-c-brand: #B388FF;
    --vp-c-brand-light: #9575CD;
    --vp-c-brand-lighter: #B39DDB;
    --vp-c-brand-dark: #673AB7;
    --vp-c-brand-darker: #5E35B1;
}

.accent {
    background: var(--vp-home-hero-name-background);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.action {
    @apply px-4 xl:px-5 py-2 xl:py-2.5 inline-block
    text-center font-bold
    text-gray-900 dark:text-gray-100
    bg-gray-50 hover:bg-gray-100
    dark:bg-gray-700 dark:hover:bg-gray-600
    border border-gray-300 dark:border-gray-600
    rounded-3xl;
}
.action.primary {
    @apply bg-violet-600 hover:bg-violet-500
    text-white
    border-violet-500
}
.dark .action.primary {
    @apply bg-violet-700 hover:bg-violet-600
    text-violet-50
    border-violet-600
}

.lang {
    @apply text-gray-200 !important
}
