.eruda-dev-tools {
    border-radius: 0.25rem;
}

.eruda-tab {
    border-radius: 0.25rem 0.25rem 0 0;
}

.eruda-tools {
    border-radius: 0.25rem;
}

/* Floating button */
.eruda-entry-btn {
    display: none !important;
}

/* Misc */
.eruda-resizer {
    display: none !important;
}

.luna-tab-slider {
    background: #6366F1;
}

.eruda-console-container .eruda-js-input .eruda-icon-arrow-right {
    color: #818cf8;
}

#eruda-console .eruda-js-input .eruda-icon-arrow-right {
    color: #818cf8;
}
